html
  head
    script.
      window.user = '#{user}'
  body
    h1 Chat
    form#newMsgForm(method='POST')
      input#msgInput(type='text' placeholder='Type new message')
      button Send
    ul#messages
    script(src='io.js')
    script(src='chat.js')
